@model List<ComicBookShared.Models.Artist>

@{
    ViewBag.Title = "Artists";
}

@Html.Partial("_Message")

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <a href="@Url.Action("Add")" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus"></span> Add Artist
    </a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artist in Model)
        {
            <tr>
                <td>@artist.Name</td>
                <td>
                    <div class="pull-right">
                        <a href="@Url.Action("Detail", new { id = artist.Id })" class="btn btn-primary btn-xs margin-right">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs"> Detail</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
